---
import BaseLayout from "../layouts/BaseLayout.astro";
import { GITHUB_URL, ACTIVITY_CARDS, PROJECT_CARDS, PRIMARY_TEXT_COLOR } from "../const";
---

<BaseLayout title="About RuffLogix">
    <section class="flex flex-col py-8 gap-5 min-h-screen">
        <!-- Profile Section -->
        <header>
            <h1 class="text-2xl font-medium">
                Teejuta Sriwaranon
                <a href={GITHUB_URL} class=`${PRIMARY_TEXT_COLOR}`>@RuffLogix</a>
            </h1>
            <p class="mt-2">Work in progress.</p>
        </header>

        <!-- Education Section -->
        <!-- <section>
            <h2 class="text-xl font-bold py-1">Education</h2>
            <ul class="list-disc pl-5">
                <li>
                    Chulalongkorn University, Computer Engineering (2023 -
                    Present).
                </li>
                <li>Benjamarachutit School (2017 - 2023).</li>
            </ul>
        </section> -->

        <!-- Interests Section -->
        <!-- <section>
            <h2 class="text-xl font-bold py-1">Interests</h2>
            <ul class="list-disc pl-5">
                <li>Blockchain</li>
                <li>Competitive Programming</li>
                <li>Computer Graphics</li>
                <li>Machine Learning</li>
                <li>Mathematics</li>
                <li>System Programming</li>
                <li>Web Development</li>
            </ul>
        </section> -->

        <!-- Achievements Section -->
        <!-- <section>
            <h2 class="text-xl font-bold py-1">Achievements</h2>
            <ul class="list-disc pl-5">
                <li>🥈 Silver Medal (Super AI Engineer Season 3 - 2023)</li>
                <li>🥉 Bronze Medal (5th Creative AI Camp - 2022)</li>
                <li>
                    🥈 Silver Medal, 17th Thailand Olympiad in Informatics
                    (2021)
                </li>
                <li>
                    🥉 Bronze Medal, 16th Thailand Olympiad in Informatics
                    (2020)
                </li>
            </ul>
        </section> -->

        <!-- Future Sections -->
        <!-- Uncomment the following sections when ready to implement -->
        <!--
        <section>
            <h2 class="text-xl font-bold py-1">Projects</h2>
            <SlideShow cards={PROJECT_CARDS} />
        </section>

        <section>
            <h2 class="text-xl font-bold py-1">Activities</h2>
            <SlideShow cards={ACTIVITY_CARDS} />
        </section>
        -->
    </section>
</BaseLayout>
