---
import BaseLayout from "../layouts/BaseLayout.astro";
import Pagination, { type Post } from "../components/Pagination.jsx";

const postFilepaths: Post[]  = ((await Astro.glob("../pages/blog/*.md")) as Post[]).filter((post) => post.frontmatter.published !== false);

postFilepaths.sort((a, b) => {
    const dateA: Date = new Date(a.frontmatter.date);
    const dateB: Date = new Date(b.frontmatter.date);
    return dateB.getTime() - dateA.getTime();
});
---

<BaseLayout title="RuffLogix's Story">
    <div class="py-10 h-min-screen flex flex-col gap-8">
        <Pagination posts={postFilepaths} postsPerPage={4} client:load />
    </div>
</BaseLayout>
