---
import BaseLayout from "../layouts/BaseLayout.astro";
import { RUFFLOGIX_IMAGE } from "../const";

const tags: string[] = ["Learn", "Code", "Game"];
---

<BaseLayout title="RuffLogix - Teejuta Sriwaranon">
    <div class="flex flex-col h-screen gap-5 justify-center items-center w-full">
        <div class="inline-block overflow-hidden">
            <img src={RUFFLOGIX_IMAGE} alt="rufflogix profile" class="w-80 block hover:scale-125 duration-500">
        </div>
        <h1 class="text-5xl">Hi there, I'm <span class="font-semibold text-orange-500 duration-500">RuffLogix!</span></h1>
        <div class="flex gap-3">
            {
                tags.map((tag) => (
                    <span class="px-3 py-1 font-normal bg-orange-200 hover:bg-orange-400 hover:cursor-default duration-300 rounded-full"># {tag}</span>
                ))
            }
        </div>
        <div class="flex items-center">
            <hr class="flex-grow">
            <span class="">Ruff Ruff Ruff</span>
            <hr class="flex-grow">
        </div>
    </div>
</BaseLayout>