---
import { GITHUB_URL, SECONDARY_BACKGROUND_COLOR } from "../const";
---

<footer class=`py-8 text-center ${SECONDARY_BACKGROUND_COLOR}`>
    <p>Copyright &copy; 2024, <a href={GITHUB_URL} class="underline font-medium">RuffLogix</a>. All rights reserved.</p>
</footer>
