---
import { GITHUB_URL } from "../const";
---

<footer class="py-8 text-center bg-orange-100">
    <p>Copyright &copy; 2024, <a href={GITHUB_URL} class="underline font-medium">RuffLogix</a>. All rights reserved.</p>
</footer>