---
type Link = {
    href: string
    text: string
}

const links: Link[] = [
    { href: '/', text: 'Home' },
    { href: '/about', text: 'About' },
    { href: '/blog', text: 'Blog' },
]
---

<div class="flex justify-center py-8 bg-orange-200">
    <div class="flex gap-8">
        {
            links.map((link) => (
                <a href={link.href} class="text-lg font-medium hover:text-orange-500">{link.text}</a>
            ))
        }
    </div>
</div>
